-- Example 0
tco_topcoder_com

4
-- Example 1
tcotopcodercom

1
-- Example 2
_tco18_admin_id_is_secret

16
-- Example 3
____

3
-- Example 4
a0_a1_a2_a3_a4_a5_a6_a7_a8_a9_a0_a1_a2_a3_a4_a5_a6_a7_a8_a9_a0_a1_a2_a3_a4_a5_a6_a7_a8_a9_a0

73741817
-- Example 5
d0_0b

1
